PORT = 8080
MONGO_URL = 'mongodb+srv://gmt1971:vrjm1971@cluster0.ppkewj1.mongodb.net/ecommerce'
SECRET_KEY = 'secretMusic'
GITHUB_CLIENT_ID = 'Iv1.c1c9266ffeb880b4'
GITHUB_CLIENT_SECRET = '9146043a1a1769e65cfe1b4612677ec5794e9c69'
GITHUB_CB_URL = 'http://localhost:8080/githubcallback'
COOKIE_KEY = 'musicCookie'