<h2>Perfil</h2>
<p>Nombre: <span id="firstName"></span></p>
<p>Apellido: <span id="lastName"></span></p>
<p>Correo electrónico: <span id="email"></span></p>
<p>Carrito asignado: <span id="cartId"></span></p>

<form>
    <button type="submit">Logout</button>
</form>

<script src="/static/js/profile.js"></script>