<h2>Registro</h2>
<form action="/register" method="post">
    <label for="firstName">Nombre</label>
    <input type="text" name="firstName" id="firts" placeholder="nombre" required="true">
    <label for="lastName">Apellido</label>
    <input type="text" name="lastName" id="last" placeholder="apellido" required="true">
    <label for="email">Correo electrónico</label>
    <input type="email" name="email" id="email" placeholder="email" required="true">
    <label for="age">Edad</label>
    <input type="number" name="age" id="age" placeholder="edad" value=0>
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" placeholder="password" required="true">
    <button type="submit">Registrar</button>
</form>

<script src="/static/js/register.js"></script>